{
	// The Atlassian Command Line Interface executable
	"acli_command": "acli.sh",
	// The ACLI connection name for confluence (as defined in acli.properties)
	"acli_connection": "my_confluence",
	// The Confluence space to write to
	"confluence_space": "MY_SPACE",
	// The ID of the root Confluence page to populate with README.md content
	// and hang all other pages under. All children of this page that do not
	// exist in markdown will be pruned.
	"parent_page_id": "787291112",
	// The base url of direct links to the markdown files (e.g. the Bitbucket URL)
	"base_markdown_url": "https://bitbucket.example.net/projects/MY_SPACE/repos/my-wiki/browse/",
	// Markdown header to apply to every page (linking to the real page).
	// This file is interpreted as a jinja2 template.
	"markdown_header_template": "markdown-header.md.j2",
	// The local directory of markdown files to be synced
	"markdown_dir": "/home/user/dev/my-wiki",
	// Max parallel Confluence requests
	"confluence_threads": 10
}
