<h1 style="color: rgb(255,0,0);">See current page: <a href="https://bitbucket.example.com/projects/MY_SPACE/repos/my-wiki/browse/{{ markdown_filename }}">{{ markdown_filename }}</a></h1>
<p style="color: rgb(255,0,0);">The content below is simply a read-only copy of the page for Confluence search purposes.</p>
<p><a href="https://bitbucket.example.com/projects/MY_SPACE/repos/my-wiki/browse/README.md">Wiki Home</a></p>
{{ markdown_content }}
